@using BusinessLayer
@model AuctionListingWithVBids<AuctionListing>;
<div class="delete-con">
	<div class="listing-details-top" style="width: 70%;">
		<div class="left">
			<div class="listing-details-top-image">
				<div class="details-img-con">
					<div>
						<div class="arrow-left" id="prevBtn">
							<
						</div>
					</div>
					<div style="width:100%;z-index: -1;">
						@{

							var base64 = Convert.ToBase64String(Model.Listing.Car.Images[0].Data);
							var Image = String.Format("data:image/gif;base64,{0}", base64);
							<img src="@Image" style="width: 80%" class="images" id="currentImage" />
						}
					</div>
					<div>
						<div class="arrow-right" id="nextBtn">
							>
						</div>
					</div>
				</div>
				<div class="details-small-img-con">
					@{
						for (int i = 0; i < Model.Listing.Car.Images.Count; i++)
						{
							var base64_ = Convert.ToBase64String(Model.Listing.Car.Images[i].Data);
							var Image_ = String.Format("data:image/gif;base64,{0}", base64_);
							<div class="small-image">
								<img src="@Image_" class="images images-small" />
							</div>
						}
					}
				</div>
			</div>
			<div class="listing-image-header" style="padding: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); border: none;">
				<h3 style="font-weight: bold; font-size: 26px">Характеристики</h3>
				<hr />
				<table class="table table-striped">
					<tbody>
						<tr>
							<th>Make</th>
							<td>@Model.Listing.Car.Make</td>
						</tr>
						<tr>
							<th>Model</th>
							<td>@Model.Listing.Car.Model</td>
						</tr>
						<tr>
							<th>Horse Power</th>
							<td>@Model.Listing.Car.HorsePower</td>
						</tr>
						<tr>
							<th>Mileage</th>
							<td>@Model.Listing.Car.Mileage</td>
						</tr>
						<tr>
							<th>Fuel Type</th>
							<td>@Model.Listing.Car.FuelType</td>
						</tr>
						<tr>
							<th>Transmittion</th>
							<td>@Model.Listing.Car.Transmittion</td>
						</tr>
						<tr>
							<th>Color</th>
							<td>@Model.Listing.Car.Color</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="listing-image-details" style="padding: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); border: none;">
				<h3 style="font-weight: bold; font-size: 26px;">Допълнителна информация</h3>
				<hr />
				<p>@Model.Listing.Description</p>
			</div>
		
		</div>
	</div>
	<div class="delete-button-con" style="width: 30%;">
		<form asp-action="Delete" class="d-flex justify-content-center align-items-center gap-1" style="min-width: 250px;">
			<a asp-action="Index" style="width: fit-content; flex: 1;text-align: center;">Back to List</a> |
			<input type="submit" value="Delete" class="btn btn-danger" style="flex: 1;" />
			<input type="hidden" asp-for="Listing.Id" />
		</form>
	</div>
</div>
<style>
	.delete-button-con {
		justify-content: end;
	}

	input[type="text"], input[type="email"], textarea {
		width: 100%;
		padding: 10px;
		margin-bottom: 10px;
		border: 1px solid #ccc;
		border-radius: 4px;
		box-sizing: border-box;
	}

	.input-submit {
		background-color: #4CAF50;
		color: white;
		padding: 12px 20px;
		border: none;
		border-radius: 4px;
		cursor: pointer;
		width: 100%;
	}

		.input-submit:hover {
			background-color: #45a049;
		}

	.listing-details-top {
		display: flex;
	}

	.listing-image-details {
		width: 80%;
		border: 1px solid #ccc;
		border-bottom-width: 3px;
		border-radius: 3px;
		padding: 10px;
	}

	.listing-contact {
		width: 80%;
	}

	.contact-form {
		width: 100%;
		padding: 10px;
		display: flex;
	}

		.contact-form > div {
			width: 50%;
			display: flex;
			justify-content: space-evenly;
			align-items: flex-start;
			flex-direction: column;
		}

		.contact-form .left label {
			font-size: 13px;
		}

	.left {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 30px;
	}

	.right {
		width: 40%;
	}

	.listing-details-top-image {
		display: flex;
		flex-direction: column;
		width: 80%;
		margin-top: 35px;
	}


	.details-img-con {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 300px;
	}

		.details-img-con div {
			display: flex;
			justify-content: center;
			align-items: center;
		}

	.arrow-left, .arrow-right {
		user-select: none;
		display: flex;
		justify-content: center;
		align-items: center;
		color: black;
		border: 1px solid black;
		border-radius: 50%;
		background-color: white;
		font-size: 13px;
		width: 30px;
		height: 30px;
		cursor: pointer;
		transition: color 0.2s linear;
		transition: background-color 0.2s linear;
	}

		.arrow-left:hover, .arrow-right:hover {
			color: white;
			background-color: black;
			border: 1px solid black;
		}

	.details-img-con div img, .details-small-img-con img {
		aspect-ratio: 16/9;
		object-fit: cover;
	}

	#currentImage {
		width: 100%;
		height: 100%;
		transition: transform 0.5s ease-in-out;
	}

	.small-image {
		display: flex;
		justify-content: center;
		align-items: center;
		border: 0.6px solid rgb(0, 0, 0, 0.15);
		border-radius: 5px;
		aspect-ratio: 16/9;
		max-width: 100%;
	}

	.images {
		width: 80%;
	}

	.details-small-img-con {
		display: flex;
		justify-content: space-evenly;
		align-self: center;
		min-height: 100px;
		gap: 25px;
		overflow: auto;
		width: 100%;
	}

		.details-small-img-con > div {
			width: 30%;
			transition: filter 0.15s ease-in;
			cursor: pointer;
			min-width: 95px;
		}

	.small-image img {
		transition: transform 0.15s ease-in;
		width: 90%;
	}

	.small-image:hover img {
		filter: opacity(0.8);
		transform: scale(1.075);
	}

	.listing-image-header {
		width: 80%;
	}

	.selected {
		opacity: 0.8;
		transform: scale(0.8);
		transition: all 0.3s ease-in-out;
		transform: translateX(0);
	}

	.slide-left {
		animation: slideLeft 1s ease-in-out;
	}

	.slide-right {
		animation: slideRight 1s ease-in-out;
	}

	.offer {
		width: 65%;
		padding: 10px;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		height: 450px;
		border: 0.6px solid rgb(0, 0, 0, 0.15);
		border-radius: 8px;
		position: sticky;
		top: 20px;
		min-width: 250px;
	}

	.offer-cont {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		height: 390px;
	}

	.offer-offset {
		width: 100%;
		height: 40px;
	}

	.listing-details-bottom {
		display: flex;
		flex-wrap: wrap;
		gap: 35px;
	}

	.delete-con {
		display: flex;
		width: 100%;
	}

	@@keyframes slideLeft {
		0% {
			transform: translateX(0);
		}

		50% {
			transform: translateX(-20%);
		}

		100% {
			transform: translateX(0);
		}
	}

	@@keyframes slideRight {
		0% {
			transform: translateX(0);
		}

		50% {
			transform: translateX(20%);
		}

		100% {
			transform: translateX(0);
		}
	}

	@@media(max-width: 900px) {
		.delete-con {
			flex-direction: column;
			justify-content: center;
			width: 100%;
        }

        .delete-button-con {
			width: 100% !important;
			align-items: self-start;
			display: flex;
        }

		.listing-details-top {
			width: 100% !important;
		}
	}
</style>

<script>
	document.addEventListener("DOMContentLoaded", function () {
	  let images = document.querySelectorAll(".images-small");
	  let imagesContainer = document.querySelectorAll(".small-image");
	  let currentImage = document.getElementById("currentImage");
	  let prevBtn = document.getElementById("prevBtn");
	  let nextBtn = document.getElementById("nextBtn");
	  let index = 0;
	  let isFirstLoad = true;

	  function changeImage(newIndex, direction = "next") {
		if (images.length == 1) return;
		if (images.length > 0) {
		  if (!isFirstLoad) {
			// Add animation based on direction
			currentImage.classList.add(direction === "next" ? "slide-right" : "slide-left");

			setTimeout(() => {
			  updateImage(newIndex);

			  // Remove animation classes after transition
			  currentImage.classList.remove("slide-left", "slide-right");
			}, 1000);
		  } else {
			updateImage(newIndex);
			isFirstLoad = false;
		  }
		}
	  }

	  function updateImage(newIndex) {
		// Remove 'selected' class from all thumbnails
		images.forEach(img => img.classList.remove("selected"));

		// Update current image source
		currentImage.src = images[newIndex].src;

		// Add 'selected' class to the new selected thumbnail
		images[newIndex].classList.add("selected");

		index = newIndex;
	  }

	  // Click event for thumbnail images
	  imagesContainer.forEach((img, imgIndex) => {
		img.addEventListener("click", () => {
			if (imgIndex < index)
				changeImage(imgIndex, "prev");
			else if (imgIndex > index)
				changeImage(imgIndex, "next");
		});
	  });

	  // Navigation button events
	  nextBtn.addEventListener("click", () => {
		let newIndex = (index + 1) % images.length;
		changeImage(newIndex, "next");
	  });

	  prevBtn.addEventListener("click", () => {
		let newIndex = (index - 1 + images.length) % images.length;
		changeImage(newIndex, "prev");
	  });

	  // Initially set the first image without animation
	  changeImage(0);
	});
</script>